@import '~vuetify/dist/vuetify.min.css';


#app>:first-child{
  padding-top: 20px;
}

#nav-drawer-trigger{
  position: absolute;
  left: 20px;
  top: 20px;
}


#seats, #price{
    border-bottom: 1px solid #e2e8f0;
    padding-bottom: 5px;
}

table#my-reservations {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #my-reservations td, #my-reservations th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  #my-reservations tr:nth-child(even) {
    background-color: #dddddd;
  }


  #my-reservations-params .pick-open{
    // position: absolute;
    // left: 20px;
  }


  //EDIT PROFILE PAGE
  .edit-profile input{
    border-bottom: 1px solid #000;
    width: 100%;
  }

  .edit-profile button{
    border: 1px solid #000;
    margin-top: 40px;
  }